
<!--<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home-DashBoard</title>
</head>
<body>
	<h1>Welcome, Home page is here</h1>
    <h2 class="account-heading">{{ user.username }}</h2>
    <p class="text-secondary">{{ user.email }}</p>
</body>
</html>
-->





{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

  </head>
  <body>

    
    <section class="sec1">


    <div class="box"><div class="rectangle"></div></div>
    <div class="box2"><div class="navbar"></div></div>
    <div class="label">
      <div class="logo-img"><img class="logo" src="/templates/img/subbox-logo-2-color.png"></div>
      <div class="icons">
        
        <a href="index.html">
        <img class="user-io" src="/templates/img/user.png">
      
       </a>

      </div>
      <div class="icons-2">
      
      <a href="footer">
      <img class="con-io" src="/templates/img/headset.png">
    
    </a>
    </div>
      <div class="icons-3">
        
        <a href="">
        <img class="lang-io" src="img/globe.png">
      
        </a>
      </div>
      <p class="track-your-spending">Track your spending <br />and subscripitons</p>
       <p class="track-your-spending2"><a href="dash-baord" style="color: rgb(0, 0, 0);">GO TO YOUR DASH BAORD!</a></p>
      <!--<p class="track-your-spending2">support us!</p>-->
 
      <div class="hero-subtext">
        <p>subbox is the perfect tool that can help</br>
        to track your financial behavior, </br>
        so you can have a great experience </br>
        in managing, canceling and organize</br>
        your subscripitons</br> 
      </br>
       
        </p></div>
       
      <div class="image"><img class="pngwing" src="/templates/img/pngwing.com (16).png"> </div>
    </div>

</section>

<Section class="sec2">


  <div class="footer" id="footer">
    <p>Footer</p>
  </div> 
</Section>


  </body>
</html>
